[submodule "Source/Cmlx/mlx"]
	path = Source/Cmlx/mlx
	url = https://github.com/ml-explore/mlx.git
[submodule "Source/Cmlx/mlx-c"]
	path = Source/Cmlx/mlx-c
	url = https://github.com/AaronGe88inTHU/mlx-c.git
	branch = v0.17.1
